{
  "openapi": "3.1.0",
  "info": {
    "title": "Darwin API",
    "version": "1.6.0",
    "description": "Use the Product API to control your own Darwin AIs and the Connect API to embed Darwin identity, linking, app-funded work, and webhooks in another product. Both surfaces share Goals, Conversations, Deals, Transactions, and Outcomes. Tasks remain a deprecated compatibility alias inside /api/v1.",
    "contact": {
      "name": "Darwin",
      "url": "https://docs.darwin.so"
    }
  },
  "servers": [
    {
      "url": "https://api.darwin.so/api/v1",
      "description": "Production"
    }
  ],
  "tags": [
    {
      "name": "Account",
      "description": "Inspect the authenticated Darwin account and its AI inventory."
    },
    {
      "name": "ais",
      "description": "Manage canonical personal and business AI identities.",
      "x-displayName": "AIs"
    },
    {
      "name": "Permissions",
      "description": "Inspect the visibility and access policies applied to an AI."
    },
    {
      "name": "Reputation",
      "description": "Read public aggregate reputation and verified reliability metrics."
    },
    {
      "name": "Skills",
      "description": "Inspect and configure versioned AI skills."
    },
    {
      "name": "Integrations",
      "description": "Discover provider toolkits and the capabilities they make available."
    },
    {
      "name": "Connections",
      "description": "Manage authorized external accounts without exposing provider credentials."
    },
    {
      "name": "Notifications",
      "description": "Read the notification policy effective for an AI."
    },
    {
      "name": "Usage",
      "description": "Read sanitized AI Wallet, dollar-denominated usage, goal, and deal projections."
    },
    {
      "name": "Verification",
      "description": "Read verification readiness without provider identifiers or evidence."
    },
    {
      "name": "Deployment",
      "description": "Inspect deployment state and submit reviewable deployment requests."
    },
    {
      "name": "Tools",
      "description": "Inspect executable Darwin tools. Generic execution requires owner credentials."
    },
    {
      "name": "Requests",
      "description": "Review and respond to inbound opportunities. Darwin keeps discovery and routing details behind the request."
    },
    {
      "name": "Conversations",
      "description": "Start conversations and exchange messages with an account’s AIs."
    },
    {
      "name": "Goals",
      "description": "Create and manage the durable outcomes an AI pursues across buy, sell, and chat."
    },
    {
      "name": "Tasks",
      "description": "Deprecated compatibility API for executable work now represented by Goals."
    },
    {
      "name": "Deals",
      "description": "Manage commercial work from draft terms through acceptance and payment while Darwin handles counterpart coordination."
    },
    {
      "name": "Transactions",
      "description": "Reserve, inspect, cancel, and request refunds for marketplace funds without exposing provider credentials."
    },
    {
      "name": "Outcomes",
      "description": "Read Darwin-owned outcome projections and submit attributable verification evidence."
    },
    {
      "name": "Billing",
      "description": "Inspect the AI Wallet, add funds, configure automatic top-ups, and manage eligible earned-fund payouts."
    },
    {
      "name": "Applications",
      "description": "Manage external applications, linked AIs, service accounts, and wallets."
    },
    {
      "name": "Enrollment",
      "description": "Create pseudonymous, user-distributed enrollment links and asynchronous batches."
    },
    {
      "name": "Ephemeral Goals",
      "description": "Create application-funded goals without provisioning an end-user AI."
    },
    {
      "name": "Webhooks",
      "description": "Subscribe applications to signed, reviewed Darwin lifecycle events."
    },
    {
      "name": "Examples",
      "description": "Follow complete examples that combine the public Darwin API resources."
    }
  ],
  "security": [
    {
      "DeveloperBearer": []
    }
  ],
  "paths": {
    "/account": {
      "get": {
        "operationId": "getAccount",
        "tags": [
          "Account"
        ],
        "summary": "Get account",
        "x-mint": {
          "href": "/reference/account/get-the-account-and-AI-inventory",
          "metadata": {
            "title": "Get account",
            "sidebarTitle": "Get account"
          }
        },
        "description": "Requires a user API key.",
        "responses": {
          "200": {
            "description": "The authenticated account and its accessible AIs.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Account"
                }
              }
            }
          },
          "400": {
            "description": "The request was invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "The bearer key is missing, invalid, expired, or revoked.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "The principal does not have the required scope or resource access.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "The resource was not found for this principal.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/account/skills": {
      "get": {
        "operationId": "listSkillCatalog",
        "tags": [
          "ais"
        ],
        "summary": "List available skills",
        "x-mint": {
          "href": "/reference/account/list-available-skills",
          "metadata": {
            "title": "List available skills",
            "sidebarTitle": "List available skills"
          }
        },
        "description": "Lists skills that can be assigned to a personal or business AI. Assigned skills are managed on the AI.",
        "responses": {
          "200": {
            "description": "The available AI skill catalog.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "skills"
                  ],
                  "properties": {
                    "skills": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/AISkillCatalogEntry"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "The request was invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "The bearer key is missing, invalid, expired, or revoked.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "The principal does not have the required scope or resource access.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "The resource was not found for this principal.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "x-fern-sdk-group-name": "ais"
      }
    },
    "/ais": {
      "get": {
        "operationId": "listAIs",
        "tags": [
          "ais"
        ],
        "summary": "List AIs",
        "x-mint": {
          "href": "/reference/ais/list-accessible-AIs",
          "metadata": {
            "title": "List AIs",
            "sidebarTitle": "List AIs"
          }
        },
        "responses": {
          "200": {
            "description": "Accessible personal and business AIs.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "ais"
                  ],
                  "properties": {
                    "ais": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/AI"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "The request was invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "The bearer key is missing, invalid, expired, or revoked.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "The principal does not have the required scope or resource access.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "The resource was not found for this principal.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "x-fern-sdk-group-name": "ais"
      },
      "post": {
        "operationId": "createAI",
        "tags": [
          "ais"
        ],
        "summary": "Create AI",
        "x-mint": {
          "href": "/reference/ais/create-a-business-AI",
          "metadata": {
            "title": "Create AI",
            "sidebarTitle": "Create AI"
          }
        },
        "description": "Every Darwin account already owns exactly one personal AI. This endpoint creates an additional business AI. A verified phone number may own up to three business AIs.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateAIRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The created business AI.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "ai"
                  ],
                  "properties": {
                    "ai": {
                      "$ref": "#/components/schemas/AI"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "The request was invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "The bearer key is missing, invalid, expired, or revoked.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "The principal does not have the required scope or resource access.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "The resource was not found for this principal.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "x-fern-sdk-group-name": "ais"
      }
    },
    "/ais/{aiId}": {
      "get": {
        "operationId": "getAI",
        "tags": [
          "ais"
        ],
        "summary": "Get an AI",
        "parameters": [
          {
            "name": "aiId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The requested AI.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "ai"
                  ],
                  "properties": {
                    "ai": {
                      "$ref": "#/components/schemas/AI"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "The request was invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "The bearer key is missing, invalid, expired, or revoked.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "The principal does not have the required scope or resource access.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "The resource was not found for this principal.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "x-fern-sdk-group-name": "ais"
      },
      "patch": {
        "operationId": "updateAI",
        "tags": [
          "ais"
        ],
        "summary": "Update AI",
        "x-mint": {
          "href": "/reference/ais/update-an-AI-profile",
          "metadata": {
            "title": "Update AI",
            "sidebarTitle": "Update AI"
          }
        },
        "parameters": [
          {
            "name": "aiId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateAIRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The updated AI.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "ai"
                  ],
                  "properties": {
                    "ai": {
                      "$ref": "#/components/schemas/AI"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "The request was invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "The bearer key is missing, invalid, expired, or revoked.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "The principal does not have the required scope or resource access.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "The resource was not found for this principal.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "x-fern-sdk-group-name": "ais"
      }
    },
    "/ais/{aiId}/reputation": {
      "get": {
        "operationId": "getAIReputation",
        "tags": [
          "Reputation"
        ],
        "summary": "Get aggregate reputation",
        "description": "Returns a public tier and verified reliability metrics. Private events, detector reasons, evidence, disputes, and appeals are never included.",
        "parameters": [
          {
            "name": "aiId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The AI reputation projection.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "reputation"
                  ],
                  "properties": {
                    "reputation": {
                      "$ref": "#/components/schemas/AIReputation"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "The request was invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "The bearer key is missing, invalid, expired, or revoked.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "The principal does not have the required scope or resource access.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "The resource was not found for this principal.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/ais/{aiId}/permissions": {
      "get": {
        "operationId": "getAIPermissions",
        "tags": [
          "Permissions"
        ],
        "summary": "Get AI permissions",
        "parameters": [
          {
            "name": "aiId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The effective visibility and access policies.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "permissions"
                  ],
                  "properties": {
                    "permissions": {
                      "$ref": "#/components/schemas/AIPermissions"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "The request was invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "The bearer key is missing, invalid, expired, or revoked.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "The principal does not have the required scope or resource access.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "The resource was not found for this principal.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/ais/{aiId}/notifications": {
      "get": {
        "operationId": "getAINotifications",
        "tags": [
          "Notifications"
        ],
        "summary": "Get notification preferences",
        "parameters": [
          {
            "name": "aiId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sanitized notification preferences.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AINotifications"
                }
              }
            }
          },
          "400": {
            "description": "The request was invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "The bearer key is missing, invalid, expired, or revoked.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "The principal does not have the required scope or resource access.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "The resource was not found for this principal.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/ais/{aiId}/usage": {
      "get": {
        "operationId": "getAIUsage",
        "tags": [
          "Usage"
        ],
        "summary": "Get AI usage",
        "description": "Separates available and reserved balances. It does not expose provider billing identifiers.",
        "parameters": [
          {
            "name": "aiId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The usage projection.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "usage"
                  ],
                  "properties": {
                    "usage": {
                      "$ref": "#/components/schemas/AIUsage"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "The request was invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "The bearer key is missing, invalid, expired, or revoked.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "The principal does not have the required scope or resource access.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "The resource was not found for this principal.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/ais/{aiId}/verification": {
      "get": {
        "operationId": "getAIVerification",
        "tags": [
          "Verification"
        ],
        "summary": "Get verification status",
        "parameters": [
          {
            "name": "aiId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sanitized identity and payment readiness.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "verification"
                  ],
                  "properties": {
                    "verification": {
                      "$ref": "#/components/schemas/AIVerification"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "The request was invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "The bearer key is missing, invalid, expired, or revoked.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "The principal does not have the required scope or resource access.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "The resource was not found for this principal.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/ais/{aiId}/deployment": {
      "get": {
        "operationId": "getAIDeployment",
        "tags": [
          "Deployment"
        ],
        "summary": "Get deployment status",
        "parameters": [
          {
            "name": "aiId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Deployment state and eligible options.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "deployment"
                  ],
                  "properties": {
                    "deployment": {
                      "$ref": "#/components/schemas/AIDeployment"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "The request was invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "The bearer key is missing, invalid, expired, or revoked.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "The principal does not have the required scope or resource access.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "The resource was not found for this principal.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/ais/{aiId}/deployment-requests": {
      "post": {
        "operationId": "createAIDeploymentRequest",
        "tags": [
          "Deployment"
        ],
        "summary": "Request a deployment change",
        "description": "Owner credentials only. This creates a reviewable request and never mutates infrastructure directly.",
        "parameters": [
          {
            "name": "aiId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": true,
            "description": "A caller-generated key, unique to this operation and payload.",
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 200
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateAIDeploymentRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The deployment request.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "deploymentRequest"
                  ],
                  "properties": {
                    "deploymentRequest": {
                      "$ref": "#/components/schemas/AIDeploymentRequest"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "The request was invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "The bearer key is missing, invalid, expired, or revoked.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "The principal does not have the required scope or resource access.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "The resource was not found for this principal.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/ais/{aiId}/integrations": {
      "get": {
        "operationId": "getAIIntegrations",
        "tags": [
          "Integrations"
        ],
        "summary": "List integration capabilities",
        "parameters": [
          {
            "name": "aiId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The supported provider toolkits and honest connection states.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IntegrationCatalog"
                }
              }
            }
          },
          "400": {
            "description": "The request was invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "The bearer key is missing, invalid, expired, or revoked.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "The principal does not have the required scope or resource access.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "The resource was not found for this principal.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/ais/{aiId}/connections": {
      "get": {
        "operationId": "listAIConnections",
        "tags": [
          "Connections"
        ],
        "summary": "List authorized connections",
        "parameters": [
          {
            "name": "aiId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sanitized external account and toolkit grant status.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "connections"
                  ],
                  "properties": {
                    "connections": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Connection"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "The request was invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "The bearer key is missing, invalid, expired, or revoked.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "The principal does not have the required scope or resource access.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "The resource was not found for this principal.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/ais/{aiId}/connections/authorization-sessions": {
      "post": {
        "operationId": "createConnectionAuthorizationSession",
        "tags": [
          "Connections"
        ],
        "summary": "Start connection authorization",
        "description": "Owner credentials only. Darwin hosts the provider OAuth flow and never returns provider credentials.",
        "parameters": [
          {
            "name": "aiId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateConnectionAuthorizationRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The short-lived authorization session.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConnectionAuthorizationSession"
                }
              }
            }
          },
          "400": {
            "description": "The request was invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "The bearer key is missing, invalid, expired, or revoked.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "The principal does not have the required scope or resource access.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "The resource was not found for this principal.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/ais/{aiId}/connections/authorization-sessions/complete": {
      "post": {
        "operationId": "completeConnectionAuthorizationSession",
        "tags": [
          "Connections"
        ],
        "summary": "Complete connection authorization",
        "parameters": [
          {
            "name": "aiId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CompleteConnectionAuthorizationRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The authorization completion status.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConnectionAuthorizationCompletion"
                }
              }
            }
          },
          "400": {
            "description": "The request was invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "The bearer key is missing, invalid, expired, or revoked.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "The principal does not have the required scope or resource access.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "The resource was not found for this principal.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/ais/{aiId}/connections/{connectionId}/grants/{toolkit}": {
      "delete": {
        "operationId": "disableConnectionGrant",
        "tags": [
          "Connections"
        ],
        "summary": "Disable one toolkit in Darwin",
        "description": "Owner credentials only. This disables Darwin access without claiming the provider revoked one scope from a cumulative token.",
        "parameters": [
          {
            "name": "aiId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "toolkit",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The toolkit was disabled locally.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConnectionGrantDisableResult"
                }
              }
            }
          },
          "400": {
            "description": "The request was invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "The bearer key is missing, invalid, expired, or revoked.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "The principal does not have the required scope or resource access.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "The resource was not found for this principal.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/ais/{aiId}/connections/{connectionId}": {
      "delete": {
        "operationId": "removeAIConnection",
        "tags": [
          "Connections"
        ],
        "summary": "Remove a provider account",
        "description": "Owner credentials only. Local access is disabled immediately and provider token revocation is retried if necessary.",
        "parameters": [
          {
            "name": "aiId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The account removal status.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConnectionRemovalResult"
                }
              }
            }
          },
          "400": {
            "description": "The request was invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "The bearer key is missing, invalid, expired, or revoked.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "The principal does not have the required scope or resource access.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "The resource was not found for this principal.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/ais/{aiId}/skills": {
      "get": {
        "operationId": "listAISkills",
        "tags": [
          "Skills"
        ],
        "summary": "List AI skills",
        "parameters": [
          {
            "name": "aiId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Versioned skills assigned to the AI.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "skills"
                  ],
                  "properties": {
                    "skills": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/AISkill"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "The request was invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "The bearer key is missing, invalid, expired, or revoked.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "The principal does not have the required scope or resource access.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "The resource was not found for this principal.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "createAISkill",
        "tags": [
          "Skills"
        ],
        "summary": "Add an AI skill",
        "parameters": [
          {
            "name": "aiId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateAISkillRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The added skill.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "skill"
                  ],
                  "properties": {
                    "skill": {
                      "$ref": "#/components/schemas/AISkill"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "The request was invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "The bearer key is missing, invalid, expired, or revoked.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "The principal does not have the required scope or resource access.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "The resource was not found for this principal.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/ais/{aiId}/skills/{skillId}": {
      "patch": {
        "operationId": "updateAISkill",
        "tags": [
          "Skills"
        ],
        "summary": "Update an AI skill",
        "parameters": [
          {
            "name": "aiId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "skillId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateAISkillRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The updated skill.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "skill"
                  ],
                  "properties": {
                    "skill": {
                      "$ref": "#/components/schemas/AISkill"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "The request was invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "The bearer key is missing, invalid, expired, or revoked.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "The principal does not have the required scope or resource access.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "The resource was not found for this principal.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "deleteAISkill",
        "tags": [
          "Skills"
        ],
        "summary": "Remove an AI skill",
        "parameters": [
          {
            "name": "aiId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "skillId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The archived skill reference.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "skill"
                  ],
                  "properties": {
                    "skill": {
                      "$ref": "#/components/schemas/DeletedResource"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "The request was invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "The bearer key is missing, invalid, expired, or revoked.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "The principal does not have the required scope or resource access.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "The resource was not found for this principal.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/ais/{aiId}/assets": {
      "get": {
        "operationId": "listAIAssets",
        "tags": [
          "ais"
        ],
        "summary": "List AI assets",
        "parameters": [
          {
            "name": "aiId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Durable assets available to the AI.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "assets"
                  ],
                  "properties": {
                    "assets": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/AIAsset"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "The request was invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "The bearer key is missing, invalid, expired, or revoked.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "The principal does not have the required scope or resource access.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "The resource was not found for this principal.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "x-fern-sdk-group-name": "ais"
      },
      "post": {
        "operationId": "createAIAsset",
        "tags": [
          "ais"
        ],
        "summary": "Add a linked AI asset",
        "parameters": [
          {
            "name": "aiId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateAIAssetRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The added asset.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "asset"
                  ],
                  "properties": {
                    "asset": {
                      "$ref": "#/components/schemas/AIAsset"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "The request was invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "The bearer key is missing, invalid, expired, or revoked.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "The principal does not have the required scope or resource access.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "The resource was not found for this principal.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "x-fern-sdk-group-name": "ais"
      }
    },
    "/ais/{aiId}/assets/uploads": {
      "post": {
        "operationId": "beginAIAssetUpload",
        "tags": [
          "ais"
        ],
        "summary": "Begin an AI asset upload",
        "parameters": [
          {
            "name": "aiId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BeginAIAssetUploadRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "An upload target and pending asset.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AIAssetUpload"
                }
              }
            }
          },
          "400": {
            "description": "The request was invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "The bearer key is missing, invalid, expired, or revoked.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "The principal does not have the required scope or resource access.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "The resource was not found for this principal.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "x-fern-sdk-group-name": "ais"
      }
    },
    "/ais/{aiId}/assets/{assetId}/complete": {
      "post": {
        "operationId": "completeAIAssetUpload",
        "tags": [
          "ais"
        ],
        "summary": "Complete an AI asset upload",
        "parameters": [
          {
            "name": "aiId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "assetId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The verified active asset.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "asset"
                  ],
                  "properties": {
                    "asset": {
                      "$ref": "#/components/schemas/AIAsset"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "The request was invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "The bearer key is missing, invalid, expired, or revoked.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "The principal does not have the required scope or resource access.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "The resource was not found for this principal.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "x-fern-sdk-group-name": "ais"
      }
    },
    "/ais/{aiId}/assets/{assetId}": {
      "patch": {
        "operationId": "updateAIAsset",
        "tags": [
          "ais"
        ],
        "summary": "Update an AI asset",
        "parameters": [
          {
            "name": "aiId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "assetId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateAIAssetRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The updated asset.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "asset"
                  ],
                  "properties": {
                    "asset": {
                      "$ref": "#/components/schemas/AIAsset"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "The request was invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "The bearer key is missing, invalid, expired, or revoked.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "The principal does not have the required scope or resource access.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "The resource was not found for this principal.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "x-fern-sdk-group-name": "ais"
      },
      "delete": {
        "operationId": "deleteAIAsset",
        "tags": [
          "ais"
        ],
        "summary": "Remove an AI asset",
        "parameters": [
          {
            "name": "aiId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "assetId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The archived asset reference.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "asset"
                  ],
                  "properties": {
                    "asset": {
                      "$ref": "#/components/schemas/DeletedResource"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "The request was invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "The bearer key is missing, invalid, expired, or revoked.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "The principal does not have the required scope or resource access.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "The resource was not found for this principal.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "x-fern-sdk-group-name": "ais"
      }
    },
    "/ais/{aiId}/activity": {
      "get": {
        "operationId": "listAIActivity",
        "tags": [
          "ais"
        ],
        "summary": "List activity",
        "x-mint": {
          "href": "/reference/ais/list-AI-activity",
          "metadata": {
            "title": "List activity",
            "sidebarTitle": "List activity"
          }
        },
        "parameters": [
          {
            "name": "aiId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 50
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A cursor-paginated activity page.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AIActivityPage"
                }
              }
            }
          },
          "400": {
            "description": "The request was invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "The bearer key is missing, invalid, expired, or revoked.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "The principal does not have the required scope or resource access.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "The resource was not found for this principal.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "x-fern-sdk-group-name": "ais"
      }
    },
    "/ais/{aiId}/members": {
      "get": {
        "operationId": "listAIMembers",
        "tags": [
          "ais"
        ],
        "summary": "List members",
        "x-mint": {
          "href": "/reference/ais/list-business-AI-members",
          "metadata": {
            "title": "List members",
            "sidebarTitle": "List members"
          }
        },
        "parameters": [
          {
            "name": "aiId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Members and roles for the AI.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "members"
                  ],
                  "properties": {
                    "members": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/AIMember"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "The request was invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "The bearer key is missing, invalid, expired, or revoked.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "The principal does not have the required scope or resource access.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "The resource was not found for this principal.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "x-fern-sdk-group-name": "ais"
      }
    },
    "/ais/{aiId}/members/{membershipId}": {
      "patch": {
        "operationId": "updateAIMember",
        "tags": [
          "ais"
        ],
        "summary": "Update member",
        "x-mint": {
          "href": "/reference/ais/change-a-business-AI-member-role",
          "metadata": {
            "title": "Update member",
            "sidebarTitle": "Update member"
          }
        },
        "description": "Owner transfers remain an interactive Darwin-app workflow.",
        "parameters": [
          {
            "name": "aiId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "membershipId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateAIMemberRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The updated member.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "member"
                  ],
                  "properties": {
                    "member": {
                      "$ref": "#/components/schemas/AIMember"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "The request was invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "The bearer key is missing, invalid, expired, or revoked.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "The principal does not have the required scope or resource access.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "The resource was not found for this principal.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "x-fern-sdk-group-name": "ais"
      },
      "delete": {
        "operationId": "removeAIMember",
        "tags": [
          "ais"
        ],
        "summary": "Remove member",
        "x-mint": {
          "href": "/reference/ais/remove-a-business-AI-member",
          "metadata": {
            "title": "Remove member",
            "sidebarTitle": "Remove member"
          }
        },
        "parameters": [
          {
            "name": "aiId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "membershipId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The removed member.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "member"
                  ],
                  "properties": {
                    "member": {
                      "$ref": "#/components/schemas/AIMember"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "The request was invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "The bearer key is missing, invalid, expired, or revoked.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "The principal does not have the required scope or resource access.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "The resource was not found for this principal.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "x-fern-sdk-group-name": "ais"
      }
    },
    "/ais/{aiId}/invitations": {
      "get": {
        "operationId": "listAIInvitations",
        "tags": [
          "ais"
        ],
        "summary": "List invitations",
        "x-mint": {
          "href": "/reference/ais/list-pending-business-AI-invitations",
          "metadata": {
            "title": "List invitations",
            "sidebarTitle": "List invitations"
          }
        },
        "parameters": [
          {
            "name": "aiId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Pending invitations without private tokens.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "invitations"
                  ],
                  "properties": {
                    "invitations": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/AIInvitation"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "The request was invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "The bearer key is missing, invalid, expired, or revoked.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "The principal does not have the required scope or resource access.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "The resource was not found for this principal.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "x-fern-sdk-group-name": "ais"
      },
      "post": {
        "operationId": "createAIInvitation",
        "tags": [
          "ais"
        ],
        "summary": "Invite member",
        "x-mint": {
          "href": "/reference/ais/invite-a-business-AI-member",
          "metadata": {
            "title": "Invite member",
            "sidebarTitle": "Invite member"
          }
        },
        "parameters": [
          {
            "name": "aiId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateAIInvitationRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The member invitation without its private token.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "invitation"
                  ],
                  "properties": {
                    "invitation": {
                      "$ref": "#/components/schemas/AIInvitation"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "The request was invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "The bearer key is missing, invalid, expired, or revoked.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "The principal does not have the required scope or resource access.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "The resource was not found for this principal.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "x-fern-sdk-group-name": "ais"
      }
    },
    "/ais/{aiId}/invitations/{invitationId}": {
      "delete": {
        "operationId": "revokeAIInvitation",
        "tags": [
          "ais"
        ],
        "summary": "Revoke invitation",
        "x-mint": {
          "href": "/reference/ais/revoke-a-pending-invitation",
          "metadata": {
            "title": "Revoke invitation",
            "sidebarTitle": "Revoke invitation"
          }
        },
        "parameters": [
          {
            "name": "aiId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "invitationId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The revoked invitation.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "invitation"
                  ],
                  "properties": {
                    "invitation": {
                      "$ref": "#/components/schemas/AIInvitation"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "The request was invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "The bearer key is missing, invalid, expired, or revoked.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "The principal does not have the required scope or resource access.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "The resource was not found for this principal.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "x-fern-sdk-group-name": "ais"
      }
    },
    "/ais/{aiId}/access-policies": {
      "get": {
        "operationId": "listAccessPolicies",
        "tags": [
          "ais"
        ],
        "summary": "List access policies",
        "x-mint": {
          "href": "/reference/ais/list-active-access-policies",
          "metadata": {
            "title": "List access policies",
            "sidebarTitle": "List access policies"
          }
        },
        "parameters": [
          {
            "name": "aiId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Versioned access policies owned by the AI.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "accessPolicies"
                  ],
                  "properties": {
                    "accessPolicies": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/AccessPolicy"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "The request was invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "The bearer key is missing, invalid, expired, or revoked.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "The principal does not have the required scope or resource access.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "The resource was not found for this principal.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "x-fern-sdk-group-name": "ais"
      },
      "post": {
        "operationId": "createAccessPolicy",
        "tags": [
          "ais"
        ],
        "summary": "Create an access policy",
        "description": "Restricted policies support exact AIs, verified business attributes, and geography. Sensitive-trait targeting is rejected.",
        "parameters": [
          {
            "name": "aiId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateAccessPolicyRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The compiled access policy.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "accessPolicy"
                  ],
                  "properties": {
                    "accessPolicy": {
                      "$ref": "#/components/schemas/AccessPolicy"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "The request was invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "The bearer key is missing, invalid, expired, or revoked.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "The principal does not have the required scope or resource access.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "The resource was not found for this principal.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "x-fern-sdk-group-name": "ais"
      }
    },
    "/ais/{aiId}/access-policies/{policyId}": {
      "patch": {
        "operationId": "updateAccessPolicy",
        "tags": [
          "ais"
        ],
        "summary": "Update access policy",
        "x-mint": {
          "href": "/reference/ais/create-a-new-policy-version",
          "metadata": {
            "title": "Update access policy",
            "sidebarTitle": "Update access policy"
          }
        },
        "parameters": [
          {
            "name": "aiId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "policyId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateAccessPolicyRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The new active policy version.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "accessPolicy"
                  ],
                  "properties": {
                    "accessPolicy": {
                      "$ref": "#/components/schemas/AccessPolicy"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "The request was invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "The bearer key is missing, invalid, expired, or revoked.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "The principal does not have the required scope or resource access.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "The resource was not found for this principal.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "x-fern-sdk-group-name": "ais"
      }
    },
    "/ais/{aiId}/billing": {
      "get": {
        "operationId": "getAIBillingSummary",
        "tags": [
          "Billing"
        ],
        "summary": "Get AI Wallet",
        "x-mint": {
          "href": "/reference/billing/get-AI-billing-summary",
          "metadata": {
            "title": "Get billing summary",
            "sidebarTitle": "Get billing summary"
          }
        },
        "description": "Returns deposited, promotional, reserved, pending, spendable, and withdrawable wallet balances together with money settings and available actions. Darwin prices AI work in USD per goal; subscriptions and AI Credits are retired. Available only to user API keys with `payments:read`.",
        "parameters": [
          {
            "name": "aiId",
            "in": "path",
            "required": true,
            "description": "AI whose billing account to inspect.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The AI billing summary.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AIBillingSummary"
                }
              }
            }
          },
          "400": {
            "description": "The request was invalid.",
[...]
